<div class="home-background-container">

  <!-- slider conponent -->
  <app-slider></app-slider>
  
  <br>
  <!-- items-component -->
  
  <app-items class="app-items-container"></app-items>


</div>


<!-- <ul class="card-container">
    <div class="items-container" *ngFor=" let item of itemsList">
      <div>
        <img class="item-image" src="{{item.image_url}}" alt="itemImage">
    
      </div>
      <div class="description-container">
        <h3 class="item-name">{{item.name}}</h3>
        <p class="item-cost">Cost: {{item.cost}}</p>
        <p class="item-rating">Rating: {{item.rating}}</p>
        <button class="add-to-cart-button" type="button" (click)="handleAddToCart($event)"> Add to cart</button>
      </div>
    
    </div>
  </ul>
 -->