.slider-container{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.slick-slider-container{
    height: 400px;
    width: 1000px;
   
}

.slide-image{
    height: 400px;
    width: 1000px;
}