a{
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    color: red;
   
}

.user-signup-background-container{

}

.user-signup-container{

}

.user-signup-image-container{

}