<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Add Item</h1>
        <!-- <button class="btn btn-dark">Go Back</button> -->
      </div>
      
      <!-- Step 3: patchup form tag with the FormGroup in ts -->
      <form class="col-md-6 offset-md-3" [formGroup]="addItemForm" (ngSubmit)=" handleAddItem()" >
        <!-- step 7: work on submission flow -- ref ts for step 8-->
        <div class="form-group row mb-3">
          <label for="staticName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <!-- step 4: patchup form fields with the FormControl in ts -->
            <!-- goto ts for step 5-->
            <input type="text" class="form-control" 
            placeholder="Enter Name" formControlName="name" 
            [ngClass]="{ 'is-invalid': addItemForm.get('name')?.touched && addItemForm.get('name')?.invalid }"/>
            <!-- step6: displaying validation related msg -->
            <div class="invalid-feedback">
              <div>Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="staticPhone" class="col-sm-2 col-form-label">Cost</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Cost" 
            formControlName="cost" 
            [ngClass]="{'is-invalid': addItemForm.get('cost')?.touched && addItemForm.get('cost')?.invalid }"
            />
            <div class="invalid-feedback">
              <div>cost is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="staticEmail" class="col-sm-2 col-form-label">Food Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Food Type" 
            formControlName="foodtype" 
            [ngClass]="{'is-invalid': addItemForm.get('foodtype')?.touched && addItemForm.get('foodtype')?.invalid }"
            />
            <div class="invalid-feedback">
              <!-- <div *ngIf="addUserForm.get('email')?.errors?.['required']">Email is required</div> -->
              <!-- <div *ngIf="addUserForm.get('email')?.errors?.['email']">Email seems to be not valid</div> -->
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
            <label for="staticPhone" class="col-sm-2 col-form-label">Image Url</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Image Url" 
              formControlName="imageurl" 
              [ngClass]="{'is-invalid': addItemForm.get('imageurl')?.touched && addItemForm.get('imageurl')?.invalid }"
              />
              <div class="invalid-feedback">
                <div>Image Url is required</div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group row mb-3">
            <label for="staticPhone" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter ID" 
              formControlName="id" 
              [ngClass]="{'is-invalid': addItemForm.get('id')?.touched && addItemForm.get('id')?.invalid }"
              />
              <div class="invalid-feedback">
                <div>cost is required</div>
              </div>
            </div>
          </div> -->
          <div class="form-group row mb-3">
            <label for="staticPhone" class="col-sm-2 col-form-label">Rating</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Rating" 
              formControlName="rating" 
              [ngClass]="{'is-invalid': addItemForm.get('rating')?.touched && addItemForm.get('rating')?.invalid }"
              />
              <div class="invalid-feedback">
                <div>rating is required</div>
              </div>
            </div>
          </div>
  
        <div class="alert alert-success" *ngIf="isSaved">
          Saved Successfully
        </div>
  
        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary" [disabled]="addItemForm.invalid">Submit</button>
            
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-items></app-items>